.fc-daygrid-dot-event .fc-event-title {
    background: #1a2632;
      color: #F2C61B;
      padding: 1px;
      font-size: 15px;
     }

.fc .fc-col-header-cell-cushion {
    color: #1A2632;
}
.fc .fc-daygrid-day-number {
    color : #1A2632
}
.fc-direction-ltr .fc-daygrid-event .fc-event-time{
    display : none
}